.bg-theme-green{
    background-color: $theme-background;
    color: white;
}
.bg-theme-brown{
    background-color: $theme-brown;
}

.text-theme-green{
    color: $theme-background;
}
.text-theme-brown{
    color: $theme-brown;
}
